<div class="barCard-body-box">
  <h2>Username: {{username}}</h2>
  <h3 class="submitted-recipes">Submitted Recipes</h3>
  <h3 class="search-history">Search History</h3>
  <h3 class="favorite-drinks">Favorite Drinks</h3>
</div>