<div class="barCard-body-box">
  <h6>Account Setting and Info</h6>
  <button class="account">Account Setting and Info</button>
  <button class="submitted-recipes">Submitted Recipes</button>
  <button class="search-history">Search History</button>
  <button class="favorite-drinks">Favorite Drinks</button>
</div>