<div class="container-fluid d-flex flex-column p-0">
  <h5>BarCard</h5>
  <img
    src="../images/BarCard-banner.jpg"
    class="img-fluid banner-image"
    alt="Responsive image"
  />

  <div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 col-sm-12 col-md-3 container-fluid d-flex flex-column aside-bar">
          <div class="aside-bar-box">
            <h6>Share Recipe!</h6>
            <button>Information on how "Create Recipe" works</button>
          </div>
          <div class="aside-bar-box">
            <h6>Look Up Recipe!</h6>
            <button>Search Recipe</button>
          </div>
          <div class="aside-bar-box">
            <h6>Account Info</h6>
            <button class="account">Account Information</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 container-fluid d-flex flex-column barCard-body">
          <div class="barCard-body-box">
            <h6>Create Recipe Here</h6>
            <textarea name="" id="" cols="60" rows="3" placeholder="Add recipes here."></textarea>
            <input class="submit" type="submit" />
          </div>
          <div class="barCard-body-box">
            <h6>Look Up Recipe Here</h6>
            <label for="text">Search:</label>
            <input type="text" id="text" class="text">
            <button class="search">Search Recipe</button>
          </div>
          <div class="barCard-body-box">
          <h6>Account Setting and Info</h6>
          <button class="account">Account Setting and Info</button>
          <button class="submitted-recipes">Submitted Recipes</button>
          <button class="search-history">Search History</button>
          <button class="favorite-drinks">Favorite Drinks</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
  integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
  integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
  crossorigin="anonymous"
></script>