{{!-- <body class="h-100 text-center text-white bg-dark">
  <div class="d-flex w-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <h3 class="float-md-start mb-0">BarCard</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
      </nav>
    </header>
  </div> --}}

  <div class="image">
    <img src="/images/BarCard-banner.jpg" alt="Bar Background" />
  </div>
  <div class="cover-container d-flex px-3 mt-10 ml-15">
    <h1 class="text-white">Welcome to BarCard.</h1>
    <p class="lead text-white">
      BarCard is an online social dictionary for bartenders and
      mixologists alike to learn and share bar recipes from far and wide.
      If you are ready to connect and share bar knowledge please log in
      and enjoy!
    </p>
    <p class="lead">
      <a
        href="/login"
        class="btn btn-lg btn-secondary fw-bold border-white"
        >Log in</a
      >
    </p>
  </div>
  

  <footer class="mt-auto text-white-50 fixed-bottom">
    <p class="text-white">&copy; Powered by Group 13, 2022</p>
  </footer>
