<div class="image">
  <img src="/images/BarCard-banner.jpg" alt="Bar Background" />
</div>
<div class="cover-container d-flex px-3 mt-10 ml-15">
  <h1 class="text-white">Welcome to BarCard.</h1>
  <p class="lead text-white">
    BarCard is an online social dictionary for bartenders and
    mixologists alike to learn and share bar recipes from far and wide.
    If you are ready to connect and share bar knowledge please log in
    and enjoy!
  </p>
</div>

<footer class="mt-auto text-white-50 fixed-bottom">
  <p class="text-white">&copy; Powered by Group 13, 2022</p>
</footer>
