<div class="image">
  <img src="/images/BarCard-banner.jpg" class="frontpage-image" alt="Bar Background" />
</div>
<div class="cover-container text-center">
  <h1 class="text-white mt-4">Welcome to BarCard.</h1>
  <p class="lead text-white mt-4">
    BarCard is an online social dictionary for bartenders and
    mixologists alike to learn and share bar recipes from far and wide.
    If you are ready to connect and share bar knowledge please log in
    and enjoy!
  </p>
</div>

<footer class="mt-auto text-white-50 fixed-bottom">
  <p class="text-white">&copy; Powered by Group 13, 2022</p>
</footer>
