<div class="image">
  <img
    src="/images/BarCard-banner.jpg"
    class="frontpage-image img-fluid"
    alt="Bar Background"
  />

</div>
<div class="cover-container text-center">
  <h1 class="text-white mt-4">Welcome to BarCard.</h1>
  <h4 class="text-white mt-4">
    BarCard is an online social dictionary for bartenders and mixologists alike
    to learn and share bar recipes from far and wide. If you are ready to
    connect and share bar knowledge please log in and enjoy!
  </h4>
</div>
<div class="d-flex flex-column align-items-center mt-4 pt-4">
  <div class="frontpage-features">
    <h2 class="text-center">BarCard Features</h2>
    <ul class="blockquote d-flex flex-column flex-wrap align-content-center frontpage-ul">
      <li class="frontpage-li">Create Your Own Recipes And Share!</li>
      <li>Find Recipes On The Spot!</li>
      <li>Save Your Favorite Recipes!</li>
    </ul>
  </div>
</div>

<footer class="text-white-50 mt-4 text-center">
  <p class="text-white">&copy; Powered by Group 13, 2022</p>
</footer>