<div class="image">
  <img
    src="/images/BarCard-banner.jpg"
    class="frontpage-image img-fluid"
    alt="Bar Background"
  />

</div>
<h1 class="text-center mt-4 mb-4">Welcome To BarCard</h1>
<div class="d-flex flex-column flex-wrap align-content-end">
  <div class="frontpage-features">
    <ul
      class="blockquote d-flex flex-column flex-wrap align-content-center frontpage-ul mt-4 text-center p-0"
    >
      <li class="frontpage-li">Create Recipes And Share</li>
    </ul>
    <div class="cover-container container text-center">
      <h4 class="mt-4 mb-4">
        BarCard is an online social dictionary for bartenders and mixologists
        alike to learn and share bar recipes from far and wide. If you are ready
        to connect and share bar knowledge, please log in and enjoy!
      </h4>
    </div>
  </div>
</div>

<footer class="text-white-50 mt-4 text-center">
  <p class="text-white">&copy; Powered by Group 13, 2022</p>
</footer>