<div class="front-page-image">
  <img
    src="/images/BarCard-banner.jpg"
    class="front-page-image"
    alt="Bar Background"
  />

</div>
<div class="cover-container text-center">
  <h1 class="mt-4">Welcome to BarCard!</h1>
  <h4 class="mt-5">
    BarCard is an online social dictionary for bartenders and mixologists alike
    to learn and share bar recipes from far and wide. If you are ready to
    connect and share bar knowledge, please log in and enjoy!
  </h4>
</div>
<div class="d-flex flex-column flex-wrap align-content-end mt-4 pt-4">
  <div class="frontpage-features">
    <h2 class="text-center">BarCard Features</h2>
    <ul class="blockquote d-flex flex-column flex-wrap align-content-center frontpage-ul">
      <li class="frontpage-li">Create Your Own Recipes And Share</li>
      <li>Find Recipes On The Spot</li>
      <li>Save Your Favorite Recipes</li>
    </ul>
  </div>
</div>

<footer class="footer-div-box">
  <p class="footer-div-box">&copy; Powered by Group 13, 2022</p>
</footer>