{{!-- If alternative frontpage.handlebars file doesnt work, use the original file here. --}}

<div class="image">
  <img
    src="/images/BarCard-banner.jpg"
    class="frontpage-image img-fluid"
    alt="Bar Background"
  />

</div>
<div class="cover-container text-center">
  <h1 class="mt-4">Welcome to BarCard!</h1>
  <h4 class="mt-4">
    BarCard is an online social dictionary for bartenders and mixologists alike
    to learn and share bar recipes from far and wide. If you are ready to
    connect and share bar knowledge, please log in and enjoy!
  </h4>
</div>
<div class="d-flex flex-column flex-wrap align-content-end mt-4 pt-4">
  <div class="frontpage-features">
    <h2 class="text-center">BarCard</h2>
    <ul class="blockquote d-flex flex-column flex-wrap align-content-center frontpage-ul">
      <li class="frontpage-li">Create Your Own Recipes And Share</li>
    </ul>
  </div>
</div>

<footer class="text-white-50 mt-4 text-center">
  <p class="text-white">&copy; Powered by Group 13, 2022</p>
</footer>