<form class="form-signin w-100 m-auto">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="email-login"
      placeholder="name@example.com"
    />
    <label for="email-login">Email address</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="password-login"
      placeholder="Password"
    />
    <label for="password-login">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me" /> Remember me
    </label>
  </div>

  <div>
    <span class="psw">Need an <a href="#">account?</a></span>
  </div>

  <button class="login-form w-100 btn btn-lg btn-primary login-form" type="submit" id="">
    Sign in
  </button>
</form>
<script src="/js/login.js"></script>