<form class="form-signin w-100 m-auto">
  <h1 class="h3 mb-3 fw-normal text-white">Please sign in</h1>

  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="email-login"
      placeholder="name@example.com"
    />
    <label for="email-login">Email address</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="password-login"
      placeholder="Password"
    />
    <label for="password-login">Password</label>
  </div>

  <button class="login-form w-100 btn btn-lg btn-primary" type="button" id="login-button">
    Sign in
  </button>
</form>

<form class="form-signup w-100 m-auto">
  <h1 class="h3 mb-3 fw-normal text-white">Please sign up</h1>

  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="email-signup"
      placeholder="name@example.com"
    />
    <label for="email-signup">Email address</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="password-signup"
      placeholder="Password"
    />
    <label for="password-signup">Password</label>
  </div>

  <button class="login-form w-100 btn btn-lg btn-primary" type="button" id="signup-button">
    Sign up
  </button>
</form>
<script src="/js/login.js"></script>