<div class="container d-flex vh-100 align-items-center justify-content-between">
<form class="form-signin vw-100 form-styling">
  <h1 class="h3 mb-3 fw-normal text-white text-center">Sign in</h1>

  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="email-login"
      placeholder="name@example.com"
    />
    <label for="email-login">Email address</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="password-login"
      placeholder="Password"
    />
    <label for="password-login">Password</label>
  </div>

  <button class="login-form w-100 btn btn-lg btn-primary mt-3" type="button" id="login-button">
    Sign in
  </button>
</form>

<form class="form-signup vw-100 form-styling">
  <h1 class="h3 mb-3 fw-normal text-white text-center">Sign up</h1>

  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="email-signup"
      placeholder="name@example.com"
    />
    <label for="email-signup">Email address</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="password-signup"
      placeholder="Password"
    />
    <label for="password-signup">Password</label>
  </div>

  <button class="login-form w-100 btn btn-lg btn-primary mt-3" type="button" id="signup-button">
    Sign up
  </button>
</form>
</div>
<script src="/js/login.js"></script>