<div class="ingredient-form">
  <h6>Submit New Ingredient Here</h6>
  <label for="liquid">Liquid Name: </label>
  <input id="liquid" type="text" /><br>
  <label for="servingSize">Serving Size: </label>
  <select name="servingSize" id="servingSize">
    <option value="1">1 oz</option>
    <option value="2">2 oz</option>
    <option value="4">4 oz</option>
    <option value="6">6 oz</option>
    <option value="8">8 oz</option>
  </select><br>
  <label for="is_alcohol">Is alcohol? </label>
  <input type="checkbox" id="is_alcohol" name="is_alcohol" value="is_alcohol"><br>
  <button type="button" class="btn btn-primary" id="new-ingredient-button">Submit</button>
</div>
<script src="/js/ingredient.js"></script>