<div class="barCard-body-box">
  <h6>Submit New Ingredient Here</h6>
  <textarea name="" id="" cols="60" rows="3" placeholder="Add liquid here."></textarea>
  <input class="submit" type="submit" />
</div>