<div
  class="container d-flex flex-column justify-content-center vh-100 ingredient"
>
  <h1 class="ingredient-color-animation text-center mb-4">New Ingredient</h1>

  <div class="row">
    <form
      class="ingredient-form d-flex flex-column flex-wrap align-content-center justify-content-center ingredient-form pt-4 pb-4"
    >
      <div class="col-xs-12 col-s-4 form-floating ingredient-input">
        <input
          id="liquid"
          type="text"
          class="form-control"
          placeholder="Liquid Name"
        />
        <label for="liquid" class="text-black text-center">Liquid Name</label>
      </div>
      
      <div class="col-xs-12 col-s-4 ingredient-input">
        <label for="servingSize">Serving Size: </label>
        <select name="servingSize" id="servingSize" class="ingredient-serving-size" placeholder="oz">
          <option value="1">1 oz</option>
          <option value="2">2 oz</option>
          <option value="4">4 oz</option>
          <option value="6">6 oz</option>
          <option value="8">8 oz</option>
        </select>
      </div>
      <div class="ingredient-input">
        <label for="is_alcohol">Is alcohol? </label>
        <input
          type="checkbox"
          id="is_alcohol"
          name="is_alcohol"
          value="is_alcohol"
          class="barcard-checkbox"
        />
      </div>

      <div class="d-flex justify-content-start flex-column align-items-center col-xs-12">
        <button
          type="button"
          class="btn btn-primary"
          id="new-ingredient-button"
        >Submit</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/ingredient.js"></script>