<div class="recipe-form">
  <h6>Submit New Drink Recipe Here</h6>
  <label for="drink">Drink Name: </label>
  <input id="drink" type="text" /><br>
  <label for="liquid">Liquid: </label>
  <select name="liquid" id="liquid">
    {{#each liquids as |liquid|}}
    <option value="{{liquid.id}}">{{liquid.name}}</option>
    {{/each}}
  </select><br>
  <label for="is_alcoholic">Contains alcohol? </label>
  <input type="checkbox" id="is_alcoholic" name="is_alcoholic" value="is_alcoholic"><br>
  <label for="drink_instructions">Recipe Instructions: </label>
  <textarea id="drink_instructions"></textarea>
  <button type="button" class="btn btn-primary" id="new-recipe-button">Submit</button>
</div>
<script src="/js/drink.js"></script>